# Rust
/OpenHub/target/
/OpenHub/build/
**/*.rs.bk
Cargo.lock

# Node / Frontend
/OpenHub/src/web_GUI/node_modules/
/OpenHub/src/web_GUI/dist/
/OpenHub/src/web_GUI/.svelte-kit/
/OpenHub/src/web_GUI/build/
.eslintcache
.oxlintrc.json

# Large Compiled Binaries / Releases
*.zip
*.exe
*.dll
!/Releases/
!/Releases/**

# Exclude WebView2/Edge runtime user profiles & caches
**/EBWebView/
**/openhub.exe.WebView2/
**/GPUPersistentCache/
**/ShaderCache/
**/GrShaderCache/
**/commerce_subscription_db/
**/discount_infos_db/
**/discounts_db/
**/optimization_guide_hint_cache_store/
**/parcel_tracking_db/
**/shared_proto_db/

# IDEs & System
.vscode/
.idea/
.DS_Store
*.suo
*.user
*.userprefs
*.log
